{% extends "base/base.html" %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block style_header %}
	class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}