{% extends "base/base.html" %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block style_header %}
	class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
{% endblock %}

{% block main %}
<section id="mu-my-club">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-my-club-area">
					<h2>Đội bóng của tôi</h2>
					<a href="{{ url_for('create_club') }}">Tạo đội bóng</a>

					<div class="mu-no-clubs-area">
						<h5>Hiện tại bạn chưa có đội bóng nào !!!</h5>
					</div>
					<!--
					<div class="mu-clubs-area">
						<div class="mu-clubs-group-card">
							<a href="#" class="mu-clubs-card">
								<img src="{{ url_for('static', filename='images/default_football_club.png') }}" />
								<div class="mu-clubs-card-body">
									<h4 class="text-center">Tên đội bóng</h4>
									<p class="text-center">
										Trình độ | Giới tính
									</p>
									<p class="text-center"><i class="icon-people"></i> 00 Thành viên</p>
								</div>
							</a>

							<a href="#" class="mu-clubs-card">
								<img src="{{ url_for('static', filename='images/default_football_club.png') }}" />
								<div class="mu-clubs-card-body">
									<h4 class="text-center">Tên đội bóng</h4>
									<p class="text-center">
										Trình độ | Giới tính
									</p>
									<p class="text-center"><i class="icon-people"></i> 00 Thành viên</p>
								</div>
							</a>

							<a href="#" class="mu-clubs-card">
								<img src="{{ url_for('static', filename='images/default_football_club.png') }}" />
								<div class="mu-clubs-card-body">
									<h4 class="text-center">Tên đội bóng</h4>
									<p class="text-center">
										Trình độ | Giới tính
									</p>
									<p class="text-center"><i class="icon-people"></i> 00 Thành viên</p>
								</div>
							</a>

							<a href="#" class="mu-clubs-card">
								<img src="{{ url_for('static', filename='images/default_football_club.png') }}" />
								<div class="mu-clubs-card-body">
									<h4 class="text-center">Tên đội bóng</h4>
									<p class="text-center">
										Trình độ | Giới tính
									</p>
									<p class="text-center"><i class="icon-people"></i> 00 Thành viên</p>
								</div>
							</a>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}