{% extends "base/base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block style_header %}
    class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
<section id="mu-league-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-league-detail-area">
                    <div class="mu-league-detail-content">
                        <div class="mu-league-detail-content-header">
                            <div class="mu-league-detail-content-header-image">
                                <img src="/static/images/default_football_league.png">
                            </div>
                            <div class="mu-league-detail-content-header-body">
                                <h6>{{ league.name }}</h6>
                                <p>
                                    {% for city in cities %}
                                        {% if city.id == league.city_id %}
                                        <span>{{ league.address }} | {{ city.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p><i class="icon-people"></i> {{ league.id|get_total_club_of_league }} Đội</p>
                            </div>
                        </div>
                        <div class="mu-league-detail-content-body">
                            <div id="sidebar">
                                {% if check_date %}
                                <a href="{{ url_for('register_league', league_id=league.id) }}"><i class="icon-clock"></i><span>Đăng ký giải đấu</span></a>
                                {% endif %}
                                <a href="{{ url_for('schedule', league_id=league.id) }}"><i class="icon-calendar"></i><span>Lịch thi đấu</span></a>
                                <a href="{{ url_for('rank', league_id=league.id) }}"><i class="icon-trophy"></i><span>Bảng xếp hạng</span></a>
                                <a href="{{ url_for('clubs_league', league_id=league.id) }}"><i class="icon-people"></i><span>Đội bóng</span></a>
                                {% if current_user.id == league.user_id %}
                                <a href="{{ url_for('list_register', league_id=league.id) }}"><i class="icon-list"></i><span>Danh sách đăng ký</span></a>
                                <a href="{{ url_for('settings', league_id=league.id) }}"><i class="icon-settings"></i><span>Tùy chỉnh</span></a>
                                {% endif %}
                            </div>
                            <div class="mu-league-detail-body table-responsive">
                                {% if msg %}
                                <div class="alert alert-warning">
                                    <p class="text-center">{{ msg }}</p>
                                </div>
                                {% endif %}
                                <form method="post" class="mu-schedule-nav">
                                    {% if current_user.id == league.user_id  %}
                                    <button type="button" class="btn btn-success mu-schedule-btn" data-toggle="modal" data-target="#createSchedule">
                                        Tạo lịch thi đấu
                                    </button>
                                    <div class="modal fade" id="createSchedule" tabindex="-1" aria-labelledby="createScheduleLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="createScheduleLabel" style="display: inline-block; color: green;">Tạo lịch thi đấu</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Tạo lịch thi đấu sẽ <span style="color: red;">khóa danh sách đăng ký</span> và <span style="color: red;">kết thúc đăng ký giải đấu</span>. Bạn có muốn tạo lịch thi đấu không ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    <button class="btn btn-success" type="submit">Tạo lịch thi đấu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                     <select class="form-control mu-schedule-round" id="schedule-round">
                                        <option value="0">Tất cả</option>
                                        {% for round in league.rounds %}
                                        <option value="{{ round.name }}">{{ round.name }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                                {% if league.rounds %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Vòng đấu</th>
                                            <th scope="col">Đội 1</th>
                                            <th scope="col">Tỉ số</th>
                                            <th scope="col">Đội 2</th>
                                            <th scope="col">Ngày thi đấu</th>
                                            <th scope="col">Giờ thi đấu</th>
                                            {% if current_user.id == league.user_id  %}
                                            <th scope="col">Hành động</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody id="rounds">
                                        {% for round in league.rounds %}
                                            {% for match in round.matches %}
                                            <tr>
                                                <td>{{ round.name }}</td>
                                                <td>{{ match.home|get_club_name_by_club_id }}</td>
                                                <td>
                                                    <a class="btn btn-primary"
                                                       href="{{ url_for('match_detail', match_id=match.id) }}">
                                                        0 - 0
                                                    </a>
                                                </td>
                                                <td>{{ match.away|get_club_name_by_club_id }}</td>
                                                {% if match.date  %}
                                                    {% if current_user.id == league.user_id %}
                                                    <td>
                                                        <input
                                                            id="input-date-match-{{ match.id }}"
                                                            class="form-control"
                                                            min="{{ date_now }}"
                                                            type="date"
                                                            value="{{ match.date.strftime('%Y-%m-%d') }}"/>
                                                    </td>
                                                    {% else %}
                                                    <td>{{ match.date.strftime('%d-%m-%Y') }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    {% if current_user.id == league.user_id  %}
                                                    <td>
                                                        <input
                                                            id="input-date-match-{{ match.id }}"
                                                            class="form-control"
                                                            min="{{ date_now }}"
                                                            type="date" />
                                                    </td>
                                                    {% else %}
                                                    <td>Chưa có ngày thi đấu</td>
                                                    {% endif %}
                                                {% endif %}

                                                {% if match.time and match.time != "None" %}
                                                    {% if current_user.id == league.user_id  %}
                                                    <td>
                                                        <input
                                                            id="input-time-match-{{ match.id }}"
                                                            class="form-control"
                                                            type="time"
                                                            value="{{ match.time }}"/>
                                                    </td>
                                                    {% else %}
                                                    <td>{{ match.time.strftime("%H:%M") }}</td>
                                                    {% endif %}
                                                {% else %}
                                                    {% if current_user.id == league.user_id  %}
                                                    <td>
                                                        <input
                                                            id="input-time-match-{{ match.id }}"
                                                            class="form-control"
                                                            type="time" />
                                                    </td>
                                                    {% else %}
                                                    <td>Chưa có giờ thi đấu</td>
                                                    {% endif %}
                                                {% endif %}

                                                {% if current_user.id == league.user_id  %}
                                                <td>
                                                    <button
                                                        class="btn btn-success"
                                                        id="btn-date-match-{{ match.id }}"
                                                        onclick="updateDateTimeMatch({{ match.id }})">Cập nhật</button>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="mu-no-clubs-area">
                                    <h5>Hiện tại bạn chưa có lịch thi đấu !!!</h5>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $("#schedule-round").change(function() {
        var round_name = $("#schedule-round").val();
        var user_id = parseInt({{ current_user.id }});
        var league_user_id = parseInt({{ league.user_id }});

        if (round_name == 0) {
            window.location.reload();
        }

        $.ajax({
            accepts: {
                mycustomtype: 'application/json'
            },
            dataType: 'json',
            url: '/api/' + {{ league.id }} + '/round/' + round_name,
            success: (data) => {
                console.log(data);
                var str = "";
                for (var m = 0; m < data.matches.length; m++) {
                    str += "<tr>";
                    str += "<td>" + data.round + "</td>";
                    str += "<td>" + data.matches[m].home + "</td>";

                    /* Score */

                    str += '<td><a class="btn btn-primary" onclick="matchDetail(' + data.matches[m].match_id + ')" id="match-detail-' + data.matches[m].match_id + '">0 - 0</a></td>';

                    str += "<td>" + data.matches[m].away + "</td>";

                    /* Date */
                    if (data.matches[m].date) {
                        var date_format = formatDate(data.matches[m].date);
                        if (user_id == league_user_id) {
                            str += '<td><input id="input-date-match-' + data.matches[m].match_id + '" class="form-control" value="' + date_format + '" type="date" min="' + formatDate() + '" /></td>';
                        } else {
                            date_format = date_format.split("-");
                            str += '<td>' + date_format[2]+ "-" + date_format[1]+ "-" + date_format[0] + '</td>';
                        }
                    } else {
                        if (user_id == league_user_id) {
                            str += '<td><input id="input-date-match-' + data.matches[m].match_id + '" min="' + formatDate() + '" class="form-control" type="date" /></td>';
                        } else {
                            str += '<td>Chưa có ngày thi đấu</td>';
                        }
                    }

                    /* Time */
                    if (data.matches[m].time && data.matches[m].time != "None") {
                        if (user_id == league_user_id) {
                            time_format = data.matches[m].time;
                            str += '<td><input id="input-time-match-' + data.matches[m].match_id + '" class="form-control" value="' + time_format + '" type="time" /></td>';
                        } else {
                            str += '<td>' + data.matches[m].time + '</td>';
                        }
                    } else {
                        if (user_id == league_user_id) {
                            str += '<td><input id="input-time-match-' + data.matches[m].match_id + '" class="form-control" type="time" /></td>';
                        } else {
                            str += '<td>Chưa có giờ thi đấu</td>';
                        }
                    }

                    if (user_id == league_user_id) {
                        str += '<td><button class="btn btn-success" id="btn-date-match-' + data.matches[m].match_id + '" onclick="updateDateTimeMatch(' + data.matches[m].match_id + ')">Cập nhật</button></td>';
                    }
                    str += "</tr>";
                }
                $("#rounds").html(str);
            }
        })
    })

    function matchDetail(match_id) {
        $.ajax({
            accepts: {
                mycustomtype: 'application/json'
            },
            dataType: 'json',
            url: '/api/match-detail/' + match_id,
            success: (data) => {
                window.location.href = data.url;
            }
        })
    }

    function formatDate(date) {
        var date_format;
        if (date)
            date_format = new Date(date).toISOString().split('T')[0];
        else
            date_format = new Date().toISOString().split('T')[0];
        return date_format;
    }

    function updateDateTimeMatch(match_id) {
        date = $("#input-date-match-" + match_id).val();
        time = $("#input-time-match-" + match_id).val();

        if (date) {
            if (time) {
                $.ajax({
                    accepts: {
                        mycustomtype: 'application/json'
                    },
                    dataType: 'json',
                    url: '/api/update-date-match/' + match_id + '/' + date + '/' + time,
                    success: (data) => {
                        $("#input-date-match-" + match_id).css("border", "2px solid green");
                        $("#input-time-match-" + match_id).css("border", "2px solid green");
                    }
                })
            } else {
                $("#input-time-match-" + match_id).css("border", "2px solid red");
                alert("Bạn phải chọn giờ thi đấu trước khi cập nhật !");
            }
        } else {
            $("#input-date-match-" + match_id).css("border", "2px solid red");
            alert("Bạn phải chọn ngày thi đấu trước khi cập nhật !");
        }
    }
</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}